@use 'sass:color';
@use '@/styles/colors.module' as colors;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background: colors.$primary-main;
  color: colors.$dark-text;
  border: 0;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background: color.adjust(colors.$primary-main, $lightness: -10%);
}
