@use 'sass:color';
@use '@/styles/colors.module' as colors;

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  @media screen and (max-height: 900px) {
    justify-content: unset;
    padding: 20px 0;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 300px;
  font-family: 'kalam';
}

.logo img {
  width: 100%;
}

.logo div {
  height: auto;
  width: auto;
  text-align: center;
  font-size: 3rem;
}

.credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input {
  width: 90vw;
  max-width: 300px;
  margin: 5px 0 5px 0;
}

.label {
  display: flex;
  justify-self: start;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login_btn {
  width: 90%;
  max-width: 300px;
  height: 40px;
  margin: 10px 0 10px 0;
  background: colors.$primary-main;
  color: colors.$dark-text;
  border: 0;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
}

.login_btn:hover {
  background: color.adjust(colors.$primary-main, $lightness: -10%);
}

.signup_text {
  font-size: 1.2rem;
  font-weight: 600;
}

.signup {
  color: colors.$primary-main;
}

.signup:hover {
  color: color.adjust(colors.$primary-main, $lightness: -10%);
}
