// Primary
$primary-main: #006b33;
$primary-alt: #009e4b;
$primary-light: #fafafa;
$primary-success: #5a43eb;
$primary-success-dark: #5a43eb;
$primary-accent: #da1e1e;
$primary-accent-dark: #da1e1e;
$primary-muted: #666666;
$primary-dark: #000000;

// Secondary
$secondary-main: #00bc5a;
$secondary-alt: #006633;
$secondary-light: #ff9900;
$secondary-success: #009900;
$secondary-success-dark: #993300;
$secondary-accent: #ff3300;
$secondary-accent-dark: #990000;
$secondary-muted: #666600;
$secondary-dark: #330000;

// Tertiary
$tertiary-main: #330066;
$tertiary-alt: #009999;
$tertiary-light: #0099cc;
$tertiary-success: #99cc00;
$tertiary-success-dark: #999933;
$tertiary-accent: #cc99cc;
$tertiary-accent-dark: #6699cc;
$tertiary-muted: #999933;
$tertiary-dark: #333333;

//Grays
$gray-10: #f3f3f3;
$gray-20: #e5e5e5;
$gray-30: #d3d3d3;
$gray-40: #c2c2c2;

$black: #000000;

//Other
$background: #ffd089;
$text: #333333;

$dark-background: #333333;
$dark-text: #f3f3f3;

$border: #333333;

// @include themed-color(primary, main);
@mixin themed-color($group, $type) {
  $var-name: unquote('#{$group}-#{$type}');
  color: var(--#{$var-name});
}
