@use 'sass:color';
@use '@/styles/colors.module' as colors;

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
}

.content {
  width: 100%;
  height: max-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

.header_spacing {
  width: 75px;
}

.logout_btn {
  width: 75px;
  height: 75px;
  background: colors.$primary-main;
  color: colors.$dark-text;
  border: 0;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
}

.logout_btn:hover {
  background: color.adjust(colors.$primary-main, $lightness: -10%);
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100%;
  font-family: 'kalam';
  user-select: none;
}

.logo img {
  height: 100%;
  width: auto;
  user-select: none;
}

.logo_title {
  margin: 0 0 0 10px;
  font-size: 50px;
  font-weight: 700;
}

.products_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  height: 80vh;
  background-color: #ffddab;
  margin: 10px 0 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow-y: auto; // Added overflow-y
}

.products_tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 40px;
  margin: 0 0 10px 0;
}

.products_tabs_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: colors.$primary-main;
  color: white;
  width: 200px;
  height: 40px;
  margin: 0 5px 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.products_tabs_btn:hover {
  background: color.adjust(colors.$primary-main, $lightness: 10%);
}

.products_scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  flex-wrap: wrap;
  overflow-y: auto;
}

.products_wrapper {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
  gap: 10px;
}
