@use 'sass:color';
@use '@/styles/colors.module' as colors;

.container {
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page_wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px; // Space for bottom nav on mobile

  @media (min-width: 768px) {
    // padding-left: 100px; // Removed to allow sidebar to overlay
    padding-bottom: 0; // Remove bottom padding on desktop
  }
}
