@use 'sass:color';
@use '@/styles/colors.module' as colors;

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_content {
  background-color: colors.$primary-light;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;

  h3 {
    margin: 0;
    color: var(--text-color);
    font-size: 1.5em;
  }

  .close_button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--text-color);

    &:hover {
      color: colors.$danger-main;
    }
  }
}

.modal_body {
  color: var(--text-color);
  line-height: 1.5;
}

.modal_footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--border-color);

  button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.2s ease;
  }

  .cancel_button {
    background-color: var(--bg-secondary-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);

      &:hover {
        background-color: colors.$gray-20;
      }  }

  .confirm_button {
    background-color: colors.$primary-main;
    color: white;
    border: none;

    &:hover {
      background-color: color.adjust(colors.$primary-main, $lightness: -10%);
    }

    &:disabled {
      background-color: var(--disabled-color);
      cursor: not-allowed;
    }
  }
}
