@use 'sass:color';
@use 'sass:math';
@use '@/styles/colors.module' as colors;

.disabled {
  display: none !important;
}

.products_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: round(down, calc(100% / 210px) * 210px, 210px);
}
