.order_details_container {
  padding: 20px;
  max-width: 900px;
  margin: 20px auto;
  background-color: #006b33;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: #f3f3f3;
  max-height: 85vh; /* Added to enable scrolling for the entire container */
  overflow-y: auto; /* Added for vertical scrolling for the entire container */
}

.order_details_title {
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
  padding-bottom: 15px;
}

.section {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.section_title {
  font-size: 1.5em;
  color: #f3f3f3;
  margin-bottom: 15px;
}

.product_list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 250px; /* Changed from 50vh to a fixed pixel value */
  overflow-y: auto; /* Added for vertical scrolling */
}

.product_list_item {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product_image {
  border-radius: 4px;
  margin-right: 15px;
}

.product_info {
  flex-grow: 1;
}

.product_name {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
}

.product_quantity,
.product_price {
  font-size: 0.9em;
  color: #ccc;
}

.total_amount {
  font-size: 1.5em;
  text-align: right;
  margin-top: 20px;
  font-weight: bold;
}

.error_message {
  color: #ff4d4d;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
