@use 'sass:color';
@use '@/styles/colors.module' as colors;

.product {
  width: 200px;
  height: 250px;
  margin: 0 5px 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 5px;
  background: colors.$primary-alt;
  color: colors.$gray-10;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background: color.adjust(colors.$primary-alt, $lightness: -5%);
  }
}

.product_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 5px;
  box-sizing: border-box;
}

.product_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: colors.$primary-light;
}

.product_image img {
  width: 100%;
  height: auto;
  max-height: 100%;
  box-sizing: border-box;
}

.product_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
}

.product_title {
  width: 100%;
}

.product_price {
  width: 100%;
}
