@use 'sass:color';
@use '@/styles/colors.module' as colors;

.outer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
}

.inner {
  width: 100%;
  height: max-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}
