@use 'sass:color' as color;
@use '@/styles/colors.module' as colors;

.checkout_container {
  padding: 20px;
  max-width: 700px;
  margin: 20px auto;
  background-color: #006b33;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 80vh; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  color: colors.$dark-text; /* Set text color to light */
}

.checkout_title {
  font-size: 2.2em;
  color: colors.$dark-text;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 2px solid #eee;
  padding-bottom: 15px;
}

.section {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.section_title {
  font-size: 1.5em;
  color: colors.$dark-text;
  margin-bottom: 15px;
}

.item_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item_list_item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px dashed #f0f0f0;

  &:last-child {
    border-bottom: none;
  }

  span {
    color: colors.$dark-text;
  }
}

.total_amount {
  font-size: 1.3em;
  text-align: right;
  margin-top: 15px;
  color: colors.$dark-text;

  strong {
    font-weight: bold;
  }
}

.address_text {
  background-color: color.adjust(colors.$primary-main, $lightness: 10%);
  border: 1px solid color.adjust(colors.$primary-main, $lightness: 20%);
  padding: 10px;
  border-radius: 5px;
  color: colors.$dark-text;
}

.delivery_options {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.payment_options {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.radio_label {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  color: colors.$dark-text;
  cursor: pointer;

  input[type='radio'] {
    margin-right: 8px;
    transform: scale(1.2);
  }
}

.change_input_wrapper {
  margin-top: 15px;

  label {
    display: block;
    margin-bottom: 8px;
    color: colors.$dark-text;
  }
}

.change_input {
  width: 100%;
  max-width: 200px; /* Constrain width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  color: #333; /* Ensure input text is dark for readability */
}

.confirm_order_btn {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 30px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.confirmation_message {
  text-align: center;
  font-size: 1.2em;
  color: colors.$dark-text;
  margin-bottom: 10px;
}

.error_message {
  color: #ff4d4d; /* A red color for error messages */
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
