@use 'sass:color';
@use '@/styles/colors.module' as colors;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

.header_spacing {
  width: 75px;
}
