@use 'sass:color';
@use '@/styles/colors.module' as colors;

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  font-family: 'kalam';
  user-select: none;
  white-space: nowrap;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.logo img {
  height: 100%;
  width: auto;
  user-select: none;

  @media screen and (max-width: 500px) {
    height: 55px;

    // Offset logo incorrect blank space
    margin-top: -10px;
  }
}

.logo_title {
  margin: 0 10px 0 10px;
  font-size: 50px;
  font-weight: 700;

  @media screen and (max-width: 500px) {
    font-size: 4vw;
    margin: 0;
    margin-top: -5px;
    height: 15px;
  }
}
